{% extends 'bootstrap/base.html' %}
{% block content %}
{% include 'header.html' %}
<h1 class="about-heading">About the site</h1>
<p class="about-description">Welcome to color extractor site, your go-to destination for color extraction. <br>
    Specific colors play fundamental role in various aspects of our lives, from web design to interior decoration,<br>
    graphic design, and even personal expression.This site helps explore you the world of colors.
    <br>Whether you're a designer, artist, or anyone who loves the power of colors, Color extractor site will help you in doing so.
</p>

{% include 'footer.html' %}
{% endblock %}