{% extends 'bootstrap/base.html' %}
{% block content %}
{% include 'header.html' %}
<h1 class="heading">Image Colour Extractor</h1>
<div class="message">
    {% for message in get_flashed_messages() %}
    <p>{{message}}</p>
    {% endfor %}
</div>

<div class="container-fluid">
    <form action={{url_for('home')}} method="POST" enctype="multipart/form-data">
        <label for="formFile" class="form-label" style="position:relative; right: 85px;">Choose Image:</label>
        <input class="form-control" type="file" id="formFile" name="img" style="font-size: 12px">
        <label for="number_of_color" class="form-label">No. of colors</label>
        <input type="number" id="number_of_color" name="color" placeholder="10" required pattern="\d+">    <!--required pattern is used so that the user enters the input value compulsorily-->
        <button type="submit" class="btn btn-warning btn-lg">Submit</button>
    </form>
</div>
{% include 'footer.html' %}
{% endblock %}

